body {
  padding: 0 30px;
}

input[type="text"] {
  width: 450px;
}
textarea {
  width: 600px;
  height: 100px;
}

.section {
  width: 720px;
  margin: 10px 40px;
}

.projectDelay {
  width: 30px;
}

.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.x.axis text {
  font-size: 18px;
}
.y.axis text {
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdge;
}
